.footer {
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1023px) {
        height: 68px;
    }

    @media (max-width: 767px) {
        height: 48px;
        font-size: 12px;
        line-height: 1.33;
    }
}

.footer__rights, 
.footer__link {
    color: var(--netural-filled-100);
}

/* .footer__link:hover {
    color: var(--netural-filled-900);
} */