.footer {
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__rights, 
.footer__link {
    color: var(--netural-filled-100);
}

.footer__link:hover {
    color: var(--netural-filled-900);
}


@media (max-width: 1023px) {
    .footer {
        height: 68px;
    }
}

@media (max-width: 767px) {
    .footer {
        height: 48px;
        font-size: 12px;
        line-height: 1.33;
    }
}