.search {
    position: relative;
    max-width: 506px;
    width: 100%;

    &:hover .search__input:not(:focus) {
        background-color: var(--netural-filled-200);
    }

    @media (max-width: 1023px) {
        max-width: none; /* Убираем ограничение по ширине */
        flex: 1; /* Занимает все доступное пространство */
        /* Или более явно: */
        /* width: calc(100% - 135px - 54px); */ 
    }

    @media (max-width: 640px) {
        max-width: 409px;
    }
}

.search__input {
    width: 100%;
    height: 48px;
    padding-inline: 16px 56px;
    color: var(--netural-filled-900);
    background: var(--netural-tone-100);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    font-size: 20px;
    position: relative;

    &::-webkit-search-cancel-button {
        display: none;
    }

    &::-ms-clear {
        display: none;
    }

    &:focus {
        background-color: var(--netural-filled-200);
    }

    &::placeholder {
        color: var(--netural-filled-600);
    }

    &:focus ~ .search__icon,
    &:not(:placeholder-shown) ~ .search__icon{
        display: none;
    }

    &:focus ~ .search__clear-button,
    &:not(:placeholder-shown) ~ .search__clear-button {
        display: block;
    }

    @media (max-width: 767px) {
        height: 32px;
        padding-inline: 12px 40px;
        font-size: 14px;
    }
}

.search__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    pointer-events: none;

    @media (max-width: 767px) {
        right: 12px;
        width: 16px;
        height: 16px;
    }
}

.search__clear-button {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--netural-filled-700);
    display: none;

    svg {
        fill: var(--netural-filled-700);
        stroke: var(--netural-filled-700);
        stroke-width: 0.5px;

        @media (max-width: 767px) {
            width: 16px;
            height: 16px;
        }
    }

    &:hover svg {
        fill: var(--netural-filled-900);
        stroke: var(--netural-filled-900);
    }

    @media (max-width: 767px) {
        right: 12px;
    }
}