.tabs {
    display: contents;
}

.tabs__menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    column-gap: 32px;
    align-self: end;
}

.tabs__button {
    --line-width: 83px;
    --line-height: 2px;

    color: var(--netural-filled-400);
    background-color: transparent;
    border: none;
    font-weight: 700;
    line-height: 1.25;
    padding: 0 0 3px 0;
    position: relative;

    &:hover {
        &::after {
            content: '';
            position: absolute;
            width: var(--line-width);
            height: var(--line-height);
            top: 97%;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: var(--netural-filled-400);
            border-radius: 10px;
        }
    }
}

.tabs__button.active {
    color: var(--netural-filled-100);
    
    &::after {
        content: '';
        position: absolute;
        width: var(--line-width);
        height: var(--line-height);
        top: 97%;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: var(--netural-filled-100);
        border-radius: 10px;
    }
}

.tabs__body {
    grid-area: body;
    width: 100%;
}

@media (max-width: 1023px) {
    .tabs__menu {
        column-gap: 24px;
    }
}

@media (max-width: 767px) {
    .tabs__menu {
        column-gap: 16px;
    }

    .tabs__button {
        --line-width: 63px;
        --line-height: 1px;
        
        line-height: 1.33;
        font-size: 12px;
        padding-bottom: 1px;
    }
}

