@import './normalize.css';
@import './fonts.css';

@import './blocks/header.css';
@import './blocks/search.css';
@import './blocks/weather.css';
@import './blocks/cards.css';
@import './blocks/progress.css';
@import './blocks/slider.css';
@import './blocks/footer.css';

:root {
    --container-width: 1120px;
    --container-padding: 32px;

    --netural-tone-100: rgba(245, 244, 244, 0.4);
    --netural-tone-200: rgba(218, 218, 218, 0.40);

    --netural-filled-100: #F5F4F4;
    --netural-filled-200: #DADADA;
    --netural-filled-600: #707070;
    --netural-filled-800: #393939;
    --netural-filled-900: #202020;

    --border-radius: 8px;

    --icon-size: 24px;

    --transition-duration: 0.2s;
}

body {
    font-family: 'Raleway', sans-serif;
    font-variant-numeric: lining-nums proportional-nums;
    background-image: url('../public/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding-block: 32px;
    min-width: 1280px;
    line-height: 1.2;
}

a,
button,
input {
    transition-duration: var(--transition-duration);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: var(--container-padding);
    box-sizing: border-box;
    background: rgba(112, 112, 112, 0.10);
    border-radius: var(--border-radius);
    backdrop-filter: blur(25px);
}