.forecast {
    height: 192px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding-block: 32px;
}

.forecast__header {
    display: flex;
    align-items: end;
    column-gap: 32px;
}

.forecast__title {
    color: var(--netural-filled-100);
    line-height: 1.3;
}