.forecast {
    height: 192px;
    padding-block: 32px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title menu"
        "body body";
    row-gap: 32px;
    column-gap: 32px;
}


.forecast__title {
    grid-area: title;
    color: var(--netural-filled-100);
    line-height: 1.3;
    align-self: end;
}