.search {
    position: relative;

    &:hover .search__input:not(:focus) {
        background-color: var(--netural-filled-200);
    }
}

.search__input {
    width: 506px;
    height: 48px;
    padding-inline: 16px 56px;
    color: var(--netural-filled-900);
    background: var(--netural-tone-100);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    font-size: 20px;
    position: relative;

    &::-webkit-search-cancel-button {
        display: none;
    }

    &::-ms-clear {
        display: none;
    }

    &:focus {
        background-color: var(--netural-filled-200);
    }

    &::placeholder {
        color: var(--netural-filled-600);
    }

    &:focus ~ .search__icon,
    &:not(:placeholder-shown) ~ .search__icon{
        display: none;
    }

    &:focus ~ .search__clear-button,
    &:not(:placeholder-shown) ~ .search__clear-button {
        display: block;
    }
}

.search__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    pointer-events: none;
}

.search__clear-button {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--netural-filled-700);
    display: none;

    svg {
        fill: var(--netural-filled-700);
        stroke: var(--netural-filled-700);
        stroke-width: 0.5px;
    }

    &:hover svg {
        fill: var(--netural-filled-900);
        stroke: var(--netural-filled-900);
    }
}