.tabs__menu {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.tabs__button {
    color: var(--netural-filled-400);
    background-color: transparent;
    border: none;
    font-weight: 700;
    line-height: 1.25;
    padding: 0 0 3px 0;
}

.tabs__button.active {
    color: var(--netural-filled-100);
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        width: 82px;
        height: 2px;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: var(--netural-filled-100);
        border-radius: 10px;
    }
}

.tabs__content:not(.active) {
    display: none;
}