.tabs {
    display: contents;
}

.tabs__menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    column-gap: 32px;
    align-self: end;
}

.tabs__button {
    color: var(--netural-filled-400);
    background-color: transparent;
    border: none;
    font-weight: 700;
    line-height: 1.25;
    padding: 0 0 3px 0;
    position: relative;

    &:hover {
        &::after {
            content: '';
            position: absolute;
            width: 83px;
            height: 2px;
            top: 97%;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: var(--netural-filled-400);
            border-radius: 10px;
        }
    }
}

.tabs__button.active {
    color: var(--netural-filled-100);
    
    &::after {
        content: '';
        position: absolute;
        width: 83px;
        height: 2px;
        top: 97%;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: var(--netural-filled-100);
        border-radius: 10px;
    }
}

.tabs__body {
    grid-area: body;
    width: 100%;
}